c-main = #AA5585
bk-main = white
c-link = blue

body
  padding:10px
  font-family: 'Open Sans', sans-serif
  background-color:bk-main
  color:c-main
  h1,h2,h3
    font-family: 'Chewy', cursive;
  a
    &:link, &:active, &:visited
      color: c-link
      text-decoration: none
    &:hover
      text-decoration:underline
  table
    border-collapse: collapse
    th
      background-color:c-main
      color:bk-main;
    td, th
      padding: 5px
      border: 1px solid c-main
