body
  font-family:'And Black', 'Helvetica', 'Arial', sans-serif
#intro
  color: #767777
  #hp-main-img
    width:100%;

  h1
    font-size: 62px
    padding-top:80px
  h5
    padding-top: 24px
    font-size: 21px
  button
    margin: 20px 0 60px 0

#who-for
  background-image:url('/images/p2.png')
  background-size: 100%
  background-repeat: no-repeat

section
  margin-bottom: 40px !important
  max-width: 900px

.mdl-tabs__tab-bar
  display:inherit
  margin-bottom: 10px

.small_link
  text-decoration:none
  
#terms
  #ribbon
    background-color:#b3d4fc
    width:100%
    height:40vh
    flex-shrink:0

  #content
    margin-top:-35vh
    #text
      padding:20px

#payment-form
  .short
    width:50px

.mdl-layout-title a
  color:white
  text-decoration:none

#pay-img
  background-image:url('/images/pay.png')
  background-size: 100%

#dashboard-main-img
  width:100%;
/*
c-main = #AA5585
bk-main = white
c-link = blue

body
  padding:10px
  font-family: 'Open Sans', sans-serif
  background-color:bk-main
  color:c-main
  h1,h2,h3
    font-family: 'Chewy', cursive;
  a
    &:link, &:active, &:visited
      color: c-link
      text-decoration: none
    &:hover
      text-decoration:underline
  table
    border-collapse: collapse
    th
      background-color:c-main
      color:bk-main;
    td, th
      padding: 5px
      border: 1px solid c-main
*/
/**** Mobile layout ****/