borderradius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

font1 = 16px
font2 = 20px
font3 = 26px

c1 = #247ba0
c2 = #70c1b3
c3 = #b2dbbf
c4 = #f3ffbd
c5 = #ff1654