<%- include header -%>

<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1 id="signupLabel">Login to Your Account</h1><br>
      <form id="sign-form" class="form-signin" action="register" method="post">
        <input type="email" placeholder="Email address" name="email" required><br/>
        <input id="password" type="password" placeholder="Password" name="password" required><br/>
        <button id="login-submit" class="login loginmodal-submit" type="submit">Join</button>
      </form>
      <div class="login-help">
        <p><a href="#" id="login-link">login</a></p>
        <p style="display:none;"><a href="#" id="register-link">register</a> | <a href="#" id="forgot-pass-link">forgot password</a></p>
      </div>
    </div>
  </div>
</div>


<section  id="about">
  <div class="container">
    <div class="row">
      <h2>Inasert</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup">
  Launcha demo modal
</button>


    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal-fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="signupLabel">Signup</h2>
      </div>
      <div class="modal-body">

        <div class="container"><!-- /login -->
          <form id="sign-form" class="form-signin" action="register" method="post">
            <input type="email" placeholder="Email address" name="email" required><br/>
            <input id="password" type="password" placeholder="Password" name="password" required><br/>
            <button id="login-submit" class="btn btn-lg btn-primary" type="submit">Join</button>
          </form>
          <p><a href="#" id="login-link">login</a></p>
          <p style="display:none;"><a href="#" id="register-link">register</a> | <a href="#" id="forgot-pass-link">forgot password</a></p>
        </div>

      </div>
    </div>
  </div>
</div>


<%- include ../footer -%>