<%- include header -%>

<section  id="about">
  <div class="container">
    <div class="row">
      <h2>Inasert</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup">
  Launch demo modal
</button>


    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal1 fade1" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="signupLabel">Signup</h2>
      </div>
      <div class="modal-body">

            <div class="container">
              <form class="form-signin" action="login" method="post">
                <input type="input" placeholder="Email address"><br/>
                <input type="password" placeholder="Password"><br/>
                <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
              </form>
            </div> <!-- /container -->

      </div>
    </div>
  </div>
</div>



<%- include ../footer -%>