<!DOCTYPE html>
<html>
<head>
  <title>Thanks!</title>
</head>
<body>
  <h1>Cool!</h1>
  <p>We got your info. Please check your email now and click on the link there to verify your account.</p>
</body>
</html>