<%- include header -%>
<div id="terms">
  <div id="ribbon"></div>
    <div class="mdl-grid" id="content">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col" id="text">

      <h1>Contact us</h1>
      <p>Do you love the API? Do you have a question about the service? Do you look to get an answer about the meaning of life?</p>
      <p>Simply send us an email to <a href="mailto:info@scanr.xyz">info@scanr.xyz</a> and we will do our best to answer. At least the first two.</p>
      </div>
    </div>

</div>

<%- include footer -%>