<!DOCTYPE html>
<html>
<head>
  <title>OOOPS?</title>
</head>
<body>
  <h1>WTF?</h1>
  <p>Well, something bad just happened and someone should get fired soon. Sorry about that.</p>
  <p><%= text %></p>
</body>
</html>