<%- include header -%>
<div id="terms">
  <div id="ribbon"></div>
    <div class="mdl-grid" id="content">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col" id="text">
        <h2>FAQ</h2>

        <h5>Is the free version really free?</h5>
        <p>Yes. Really free. Forever.</p>

        <h5>How the pricing works?</h5>
        <p>Our <a href="/#pricing">pricing</a> structure is very simple - your <b>first 100 calls are free</b>. After that you pay a flat <b>$5</b> a month and <b>1 cent</b> for each call/page.</p>

        <h5>Can I cancel anytime?</h5>
        <p>Of course, no fees or annual contracts. We don't want to be an evil corporation.</p>

        <h5>Is my data safe and secure?</h5>
        <p>Yep, we don't store your data and delete the image you upload right after your call.<br/>
          The security and uptime is our #1 priority. All source and converted documents are deleted automatically after completion of recognition process.<br/>
          Trusted secure connection (HTTPS) is available with every subscription.</p>

        <h5>What happens if I stay under 100 calls?</h5>
        <p>You don't pay anything. As simple as it can be.</p>

        <h5>How can I pay</h5>
        <p>We work with <a href="//stripe.com">stripe</a> to safely collect credit cards. You can always your credit card from the <a href="/dashboard">dashboard</a>.</p>

        <h5>How secure is my payment?</h5>
        <p>As secure as it can be. All payments are securely processed over HTTPS and your card information never touches our servers. All payment processing is done by a third party credit card processor. All details are are sent over SSL, which is a 2048-bit RSA-encrypted channel.</p>

        <h5>How fast it is?</h5>
        <p>Usually few seconds. The text recognition time depends on a lot of factors like the image quality, file size and more. The average time of recognizing one file is several seconds. We have bunch of highly talented geeks that work hard to make it as fast as possible.</p>

        <h5>What file types can I use?</h5>
        <p>
          We support: <code>pdf, bmp, pnm, png, jpg, jpeg, tiff, gif, ps, webp</code><br/>
          If you upload a file make sure it's not more than 5MB.<br/>
          If you want ocr a file's url, make sure the url ends with a supporting file.
        </p>

        <a name="languages"></a>
        <h5>What languages can I use?</h5>
        <p>We support 32 languages. The default language is english and to change the language, simply pass the language code you want to use:</p>
        <p>ara (Arabic), aze (Azerbauijani), bul (Bulgarian), cat (Catalan), ces (Czech), chi_sim (Simplified Chinese), chi_tra (Traditional Chinese), chr (Cherokee), dan (Danish), dan-frak (Danish (Fraktur)), deu (German), ell (Greek), eng (English), enm (Old English), epo (Esperanto), est (Estonian), fin (Finnish), fra (French), frm (Old French), glg (Galician), heb (Hebrew), hin (Hindi), hrv (Croation), hun (Hungarian), ind (Indonesian), ita (Italian), jpn (Japanese), kor (Korean), lav (Latvian), lit (Lithuanian), nld (Dutch), nor (Norwegian), pol (Polish), por (Portuguese), ron (Romanian), rus (Russian), slk (Slovakian), slv (Slovenian), sqi (Albanian), spa (Spanish), srp (Serbian), swe (Swedish), tam (Tamil), tel (Telugu), tgl (Tagalog), tha (Thai), tur (Turkish), ukr (Ukrainian), vie (Vietnamese)</p>

      </div>
    </div>

</div>
<%- include footer -%>