<%- include header -%>

<div class="mdl-typography--text-center" id="intro">
  <h1 class="android-font">OCR as a service</h1>
  <h5 class="android-font">Image recognition API. Send us a photo/pdf, get back the text inside.</h5>

  <% if (user) { %>
  <a href="/dashboard"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Go to dashboard</button></a>
  <% } else { %>
  <a href="#join"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Let's start!</button></a>
  <% } %>
</div>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"></header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>About</h4>
      We offers a simple API service that can extract text from images, any image or documents including PDF files.<br/>
      Simply post us your image and get a response with the text inside in real time.
    </div>
  </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"></header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>Who is it for?</h4>
      <ul>
        <li>Lawyers can scan their documents fast.</li>
        <li>Extract details from a business card.</li>
        <li>Scan and store all your promocodes and paper offers.</li>
        <li>Extract info from bills.</li>
        <li>Anything you can think of.</li>
      </ul>
    </div>
  </div>
</section>

<a name="api"></a>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>API</h4>
      We really belive that it should  <a href="#">stay simple</a>. Yep, that simple. We can fake it and make it look more complex just to charge more, but we know better.
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#curl" class="mdl-tabs__tab is-active">curl</a>
            <a href="#node" class="mdl-tabs__tab">Node.js</a>
            <a href="#ruby" class="mdl-tabs__tab">Ruby</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="curl">
          <h5>request</h5>
          <code>curl -F "image=@/path/to/image.jpg" http://foo.com?token=YOUR_TOKEN</code><br/><br/>
          <h5>response</h5>
<pre><code>HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
{text: 'Hello world!'}</code></pre>
        </div>
        <div class="mdl-tabs__panel" id="node">
          node
        </div>
        <div class="mdl-tabs__panel" id="ruby">
          ruby
        </div>
      </div>
    </div>
  </div>
</section>

<a name="pricing"></a>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>Pricing</h4>
      <p>That's the place where you can choose 4 different plans where only one actually makes sense. Well, let's save you the trubles and make it simple:</p>
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">API CALLS</th>
            <th class="mdl-data-table__cell--non-numeric">PRICE</th>
          </tr>
        </thead>
        <tbody>
          <tr id="free">
            <td class="mdl-data-table__cell--non-numeric"><100</td>
            <td class="mdl-data-table__cell--non-numeric">FREE</td>
          </tr>
          <tr id="paid">
            <td class="mdl-data-table__cell--non-numeric">after 100</td>
            <td class="mdl-data-table__cell--non-numeric" id="foo">$5 + ¢1 per call/page</td>
          </tr>
        </tbody>
      </table>
      <br/>
      <div>Pay as you go! Pay only based on how much you need each month. No hidden costs, no yearly plans. You can stop anytime you want.</div>
      <div><i>Example - if you call 1,000 times to our service in a month all you pay is: $14 (= $5 + 900¢)</i></div>
    </div>
  </div>
</section>

<% if (user) { %>
<div class="mdl-typography--text-center" id="intro">
  <a href="/dashboard"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Go to dashboard</button></a>
</div>
<% } else { %>
<a name="join"></a>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"></header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>Login / Register</h4>
      <form action="/login" method="POST" id="form">
        <p>Yeah, never got why you need 2 different forms for that.</p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" name="email" type="email" id="email" autocomplete="off" />
          <label class="mdl-textfield__label" for="email">Text...</label>
        </div><br/>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" name="password" type="password" id="password" autocomplete="off" />
          <label class="mdl-textfield__label" for="password">Password...</label>
        </div><br/>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Enter</button>
      </form>
    </div>
  </div>
</section>
<% } %>



<%- include footer -%>