<%- include header -%>
<div id="terms">
  <div id="ribbon"></div>
    <div class="mdl-grid" id="content">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col" id="text">

        <h3>How It Works</h3>

        <p>scanR is an OS independent Web-based API for mobile devices and web-connected applications to extract text from scanned images and documents into editable text formats.</p>
        <h5>Engine</h5>
        <p>We use <a href="https://en.wikipedia.org/wiki/Tesseract">Tesseract</a> engine to do most of the heavy lifting.<br/>
          This tool was developed by IBM, Google and others in order to perfect image recognition.<br/>
          We also use tools like <a href="//www.imagemagick.org/">ImageMagic</a> to help with converting the image files.
        </p>
        <h5>Open Source</h5>
        <p>We are huge fans of open source. Our ruby and node clients are open sourced, and we like to contribute to the main Tesseract library.</p>

        <h5>Stack</h5>
        <p>Our server infrastructure is securely hosted in Amazon's data center as well as DigitalOcean. We use Node.js, ruby and go trough our stack and MongoDB as our primary data store.</p>
      </div>
    </div>

</div>
<%- include footer -%>