<%- include header -%>
<div id="terms">
  <div id="ribbon"></div>
    <div class="mdl-grid" id="content">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col" id="text">
      <div class="mdl-color-text--grey-500">Last update: 10/29/2015</div>

      <h1>Terms of service</h1>
      <h3>Description of service</h3>

      <p>scanR is an online OCR Web service that allows you to convert scanned images and documents into editable files by Optical Character Recognition (OCR) technologies.</p>

      <h3>Changes to the service and terms and conditions</h3>

      <p>Changes to the service and terms and conditions scanR reserves the right at any time to modify, suspend, or discontinue providing the service or any part thereof in its sole discretion with or without notice.</p>

      <p>scanR will use commercially reasonable efforts to notify you of modification, suspension, or discontinuance of the Service either by sending an email to the email address you provide with your registration or by a posting on scanR website.</p>

      <p>scanR reserves the right at any time to modify this Agreement in its sole discretion, without liability to you. You agree to be bound by this Agreement, as modified. If you do not agree to any changes to this Agreement, you must terminate your account immediately.</p>

      <h3>Accounts, passwords and security</h3>

      <p>You must be a registered user to access the Service. You are responsible for keeping your password secure. You will be solely responsible and liable for any activity that occurs under your user name. Username can not be modified later. Password can be modified after first login, at any time.</p>

      <h3>Security of Stored Data and Files</h3>

      <p>scanR will endeavor to restrict access to the data and files You store or retrieve from Your Account to persons accessing such data and files through use of Your Account or Password. However, no password-protected system of data storage and retrieval can be made entirely impenetrable. Accordingly, You hereby acknowledge that it may be possible for an unauthorized third party to access, view, copy, modify and distribute the data and files You store in Your Account.</p>

      <h3>Content of Stored Data and Files</h3>

      <p>You are solely responsible for (a) obtaining sufficient rights to the content of all data and files stored by You on scanR servers. scanR does not review, inspect, edit or monitor any content, data or files stored by You or any other user of the Service, including, without limitation, for viruses, worms, "Trojan horses" or any other similar contaminating or destructive features. However, if scanR has suspicion that an account is being used for storage and distribution of any illegal material such as copy-righted content, scanR reserves the right to examine the content of the online storage and backup account. scanR reserves the right to refuse, remove or disable access to any data or files stored on scanR`s servers.</p>

      <h3>Disclaimer</h3>

      <p>This site and the materials and products in this site are provided "as is" and without warranties of any kind, whether express or implied. To the fullest extent permissible pursuant to applicable law, scanR disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose and non-infringement. scanR does not represent or warrant that the functions contained in the site will be uninterrupted or error-free, that defects will be corrected, or that this site or the server that makes the site available are free of viruses or other harmful components. scanR does not make any warranties or representations regarding the use of the materials in this site in terms of their correctness, accuracy, adequacy, usefulness, timeliness, reliability or otherwise. The above limitations may not apply to you.</p>

      <h3>Limitation of Liability</h3>

      <p>scanR shall not be liable for any incidental, special, consequential, or punitive damages that result from any failure of performance, error, omission, interruption, defect, delay in operation or transmission, computer virus, line failure of, or any use of or any inability to use, or any materials, products or services made available on this site, even if scanR has been advised of the possibility of such damages. The above limitations or exclusions may not apply to you.</p>

      <h3>Indemnification</h3>

      <p>You will defend, indemnify and hold scanR, its parents, subsidiaries, affiliates, agents, officers, directors and employees, harmless from any claim or demand, including reasonable attorneys' fees and costs, made by any third party due to or arising out of (a) Your use of Your Account and the Service, (b) any data files and content stored by You in Your Account and otherwise on the scanR servers and (c) any violation of this Agreement by You.</p>

      <h3>Notice</h3>

      <p>scanR may from time to time broadcasts messages of information we deem important to users of the service.</p>

      </div>
    </div>

</div>
<%- include footer -%>